.recommended-friends {
  color: var(--main-gray-text);
  font-size: 14px;
}
.recommended-friends span {
  font-size: 17px;
  display: block;
  text-align: center;
  height: 220px;
  line-height: 220px;
  border-bottom: var(--main-border);
}

.open-chat {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  padding: 15px 0px;
  color: var(--main-gray-text);
}
.open-chat h6 {
  opacity: 0.6;
}

.open-post {
  border-bottom: var(--main-border);
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}
.open-post__column-left {
  height: 115px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.open-post__title {
  font-weight: 600;
  font-size: 18px;
}
.open-post__hashtag {
  font-size: 15px;
  text-transform: uppercase;
  color: var(--main-gray-text);
  margin: 7px 0px;
}
.open-post__hashtag-two {
  font-size: 15px;
  color: var(--main-gray-text);
  margin: 7px 0px;
}
.open-post__members {
  display: flex;
  align-items: center;
  font-size: 14px;
}
.open-post__members img {
  height: 19px;
  width: 19px;
  border-radius: 40%;
  margin-right: 5px;
}
.open-post__members-count {
  color: var(--main-gray-text);
}
.open-post__members .divider {
  width: 1.2px;
  height: 75%;
  background-color: var(--main-gray-text);
  margin: 0px 7px;
}
.open-post__members-status {
  color: rgb(216, 157, 216);
}

.open-post__column-right {
  position: relative;
  height: 100px;
}
.open-post__column-right img {
  height: 100px;
  width: 100px;
  border-radius: 10%;
}

@keyframes heartBeat {
  0% {
    transform: none;
    color: white;
  }
  50% {
    transform: scale(1.5);
    color: tomato;
  }
  100% {
    transform: none;
    color: white;
  }
}
.open-post__column-right:hover .open-post__photo-likes i {
  will-change: transform;
  animation: heartBeat 1.3s ease-in-out infinite;
}
.open-post__photo-likes {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 12px;
  padding: 4px 7px;
  border-radius: 15px;
  position: absolute;
  right: 5px;
  bottom: 7px;
}
