#friends-display-link {
  text-align: center;
  display: block;
  font-size: 15px;
  padding: 13px 0px;
  background-color: rgb(247, 247, 247);
}
#friends-display-link i {
  margin: 0px 5px 0px 10px;
  color: rgb(208, 208, 208);
}
.friends-screen__channel {
  border-top: var(--main-border);
  padding: 15px 0;
}
.friends-screen__channel-header {
  display: flex;
  justify-content: space-between;
  color: var(--main-gray-text);
}
