.settings-upper {
  border-bottom: var(--main-border);
  font-size: 20px;
  padding-bottom: 20px;
}
.settings-upper__list li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding: 20px 0px;
}
.settings-upper__list li:last-child {
  border: none;
}
.settings-upper__list i {
  width: 40px;
  opacity: 0.85;
}
