.settings {
  font-size: 20px;
}
.settings__list {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding: 20px 0px;
}
.settings__list:last-child {
  border: none;
}
.settings__list i {
  width: 40px;
  opacity: 0.85;
}

.settings-description {
  display: flex;
  justify-content: space-between;
}
.settings-description__text {
  color: var(--main-gray-text);
  font-size: 18px;
}

.settings-border {
  border-bottom: var(--main-border);
  margin: 20px 0px;
}
