.screen-header {
  margin: 50px 0px 20px 0px;
  padding: var(--horizontal-space);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.screen-header__title {
  font-weight: 600;
  font-size: 30px;
}
.screen-header__icons {
  color: rgba(0, 0, 0, 0.75);
}
.screen-header__icons span {
  margin-left: 22px;
  position: relative;
}
.screen-header__icons--plus {
  background-color: white;
  border-radius: 50%;
  padding: 1px;
  position: absolute;
  right: -1px;
  top: 3px;
}
