.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user-component__column {
  margin: 10px 0 20px 0;
}
.user-component__avatar {
  height: 70px;
  width: 70px;
  border-radius: 40%;
  margin-right: 20px;
}
.user-component__title {
  font-size: 22px;
  font-weight: 600;
}
.user-component__title--not-bold {
  font-weight: 400;
}
.user-component__subtitle {
  margin-top: 3px;
  color: var(--main-gray-text);
  font-size: 15px;
}
.user-component__avatar--xl {
  height: 80px;
  width: 80px;
}
.user-component__avatar--sm {
  height: 60px;
  width: 60px;
}
.user-component__column:last-child {
  color: var(--main-gray-text);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}
.user-component__time {
  margin-bottom: 10px;
  display: block;
}

.user-component__more-phone-number {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.user-component__warning {
  height: 11px;
  width: 11px;
  color: rgb(230, 130, 107);
  font-weight: 600;
  font-size: 11px;
  text-align: center;
  border: 2px solid rgb(230, 130, 107);
  border-radius: 50%;
  position: relative;
  margin-left: 8px;
}
.user-component__more-comment-icon {
  position: absolute;
  bottom: 2px;
  right: 6px;
  font-size: 35px;
}
